.banner {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  background-image: linear-gradient(135deg, rgba(17, 17, 16, 0.2) 0%, rgba(88, 68, 14, 0.4) 50%), url('pexelcocktails.jpeg');
  box-shadow: 0 2px rgba(255, 174, 0, 0.1);
}
.banner:hover {
    background-image: linear-gradient(130deg, rgba(17, 17, 16, 0.2) 0%, rgba(85, 62, 21, 0.4) 50%), url('pexelcocktails.jpeg');
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: -1px -2px rgba(0, 0, 0, 0.9);
  letter-spacing: 1px;
}

.banner p {
  letter-spacing: 0.5px;
  font-size: 22px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-shadow: -1px -2px rgba(0, 0, 0, 0.9);
  opacity: 0.6;
  margin-bottom: 30px;
}